<div class="modal-header">
    <h5 class="modal-title">Detalles del Curso</h5>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <div class="modal-body">
    <div *ngIf="curso">
      <p><strong>ID:</strong> {{ curso.cursoId }}</p>
      <p><strong>Título:</strong> {{ curso.titulo }}</p>
      <p><strong>Descripción:</strong> {{ curso.descripcion }}</p>
      <p><strong>Fecha de Inicio:</strong> {{ curso.fechaInicio | date:'shortDate' }}</p>
      <p><strong>Fecha de Fin:</strong> {{ curso.fechaFin | date:'shortDate' }}</p>
      <!-- Agrega más detalles según la estructura del objeto Curso -->
    </div>
  </div>
  
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="deleteCurso()">Eliminar</button>
    <button type="button" class="btn btn-secondary" (click)="editCurso()">Editar</button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Close click')">Cerrar</button>
  </div>
  