<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h2>Lista de Inscripciones</h2>
      <button class="btn btn-primary" (click)="openInscripcionFormModal()">Agregar Inscripción</button>
    </div>
  
    <div *ngIf="inscripciones.length > 0; else noInscripciones">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Curso</th>
            <th>Estudiante</th>
            <th>Fecha de Inscripción</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let inscripcion of inscripciones">
            <td>{{ inscripcion.inscripcionId }}</td>
            <td>{{ inscripcion.curso.titulo }}</td>
            <td>{{ inscripcion.estudiante.nombre }}</td>
            <td>{{ inscripcion.fechaInscripcion | date:'shortDate' }}</td>
            <td>
              <button class="btn btn-info btn-sm mx-1" (click)="openInscripcionDetailsModal(inscripcion.inscripcionId)">Ver Detalles</button>
              <button class="btn btn-warning btn-sm mx-1" (click)="openInscripcionFormModal(inscripcion.inscripcionId)">Editar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <ng-template #noInscripciones>
      <p>No hay inscripciones disponibles.</p>
    </ng-template>
  </div>
  